<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.whatsapp.clone">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".presentation.setting.SettingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.settingSecurity.SecuritySettingActivity" />

        <activity android:name=".presentation.privacySetting.PrivacySettingActivity" />

        <activity android:name=".presentation.privacyLastSeen.PrivacyLastSeenActivity" />

        <activity android:name=".presentation.privacyProfilePhoto.PrivacyProfilePhotoActivity" />

        <activity android:name=".presentation.privacyAbout.PrivacyAboutActivity" />

        <activity android:name=".presentation.privacyStatus.PrivacyStatusActivity" />

        <activity android:name=".presentation.privacySettingDefaultMessage.PrivacySettingDefaultMessageActivity" />

        <activity android:name=".presentation.privacyGroup.PrivacyGroupActivity" />

        <activity android:name=".presentation.privacyLiveLocation.PrivacyLiveLocationActivity" />

        <activity android:name=".presentation.privacyFingerPrint.PrivacyFingerPrintActivity" />

        <activity android:name=".presentation.settingPhoneNumChange.SettingPhoneNumChangeActivity" />

        <activity android:name=".presentation.accountSetting.AccountSettingActivity" />

        <activity android:name=".presentation.settingTwoStepVerification.SettingTwoStepActivity" />

        <activity android:name=".presentation.settingChangeNumber.ChangeNumberSettingActivity" />

        <activity android:name=".presentation.settingRequestAcc.RequestAccountActivity" />




    </application>

</manifest>